<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>console</headerType>
  <jar>./target/jar-exe-0.0.1-SNAPSHOT.jar</jar>
  <outfile>./target/jar.exe</outfile>
  <errTitle>My Application Error</errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <icon></icon>
  <var>SERVER_PORT=3000</var>
  
  <jre>
    <!-- Set a generic path to the JRE for GitHub Actions, using Java 17 -->
    <path>/usr/lib/jvm/java-17-adoptopenjdk</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>true</requires64Bit>
    <minVersion>1.8.0</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>
